.card-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 350px;
    height: 400px;
    margin: 30px;
}

button {
    margin-top: 20px;
    margin-bottom: 20px;
}

img {
    border-radius: 200px;
    width: 80%;
    box-shadow: 10px 5px 5px black;
}