.create-profile-container {
    background-color: white;
    width: 600px;
    height: 250px;
    border-radius: 40px;
    border: solid 2px black;
}

.form-create {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

input {
    margin-top: 20px;
}
