.login-container {
    border: solid 2px black;
    width: 600px;
    height: 250px;
    border-radius: 20px;
    background-color: white;
}

.form-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

h2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

input {
    width: 70%;
    height: 30px;
    border-radius: 5px;
    font-size: 1rem;
}

button {
    width: 120px;
    height: 25px;
    font-size: 1rem;
}